.navbar {
    height: 15vh;
    position: fixed;
    width: 100%;
}
.navbar .container-fluid .btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}
  
.navbar .container-fluid .btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

.container {
  height: 100vh;
}
  